*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 60px;
    width: 90vw;
    background-color: rgb(94, 43, 142);
    color: white;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 2px 9px rgb(94, 43, 142, 0.8);
}
.option{
    margin: 40px;
    cursor: pointer;
    width: 90vw;
}
.symbol{
    margin: 80px;
    transform: scale(5);
}
.score-box{
    margin: 20px;
    font-size: larger;
    font-weight: 600;
}
.cen{
    width: fit-content;
    margin: auto;
}
.result{
    background-color: blueviolet;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    font-weight: 600;
}
